<a href="https://colab.research.google.com/github/afeld/nyu-python-public-policy/blob/master/hw_0_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NYU Wagner - Python Coding for Public Policy
# Solutions to HW 1

### Start by importing necessary packages

In [1]:
!pip install --quiet gdown
import pandas as pd
import gdown

### Read and save 311 Service Requests dataset as a pandas dataframe

In [ ]:
import gdown
gdown.download("https://drive.google.com/uc?id=1woUPU62mGXRtVvZmpzAwmrYl01vLK4PJ", "311_Service_Requests_2018-19.csv", quiet=False)

In [4]:
df = pd.read_csv('311_Service_Requests_2018-19.csv', header='infer')

/Users/afeld/.asdf/installs/python/3.8.0/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (8,17,20,31,34) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

### Data Exploration Questions

What is the minimum value in the "Created Date" column?

In [5]:
df['Created Date'].min()

'01/01/2019 01:00:00 PM'

What is the maximum value in the "Created Date" column?

In [6]:
df['Created Date'].max()

'12/31/2018 12:59:41 PM'

You'll notice that the maximum value is an earlier date than the minimum value (year 2018 vs. 2019). What's up with that? The date values in the 'Created Date' column are actually stored as strings. The min() and max() functions are sorting by alphabetical order. That's why a value that starts with '12/31' is considered a higher/larger value than one that starts with '01/01'.

If we run df.head() and df.tail(), we can see that the dataset actually spans Aug 2018 to Aug 2019. Those are the real min and max dates. We'll learn how to properly handle dates in a later lecture.

In [7]:
df.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,39888071,08/01/2018 12:00:10 AM,08/01/2018 01:52:46 AM,DHS,Operations Unit - Department of Homeless Services,Homeless Person Assistance,NaN,Other,10029,200 EAST 109 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.793339,-73.942942,"(40.79333937834769, -73.9429417746998)"
1,39889166,08/01/2018 12:00:26 AM,08/18/2018 10:46:43 AM,HPD,Department of Housing Preservation and Develop...,DOOR/WINDOW,DOOR,RESIDENTIAL BUILDING,10031,528 WEST 136 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.820124,-73.953071,"(40.82012422332215, -73.9530712339799)"
2,39882869,08/01/2018 12:00:54 AM,08/01/2018 12:49:55 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11216,761 LINCOLN PLACE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.670809,-73.951399,"(40.67080917938279, -73.9513990916184)"
3,39894246,08/01/2018 12:01:00 AM,08/02/2018 10:30:00 PM,DEP,Department of Environmental Protection,Noise,Noise: Construction Before/After Hours (NM1),NaN,10010,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.740262,-73.990517,"(40.74026158873342, -73.99051651686905)"
4,39881329,08/01/2018 12:01:00 AM,08/05/2018 12:00:00 AM,DSNY,Department of Sanitation,Request Large Bulky Item Collection,Request Large Bulky Item Collection,Sidewalk,11413,121-28 198 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.688144,-73.750990,"(40.68814402968042, -73.75098958473612)"

In [8]:
df.tail()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
2859195,43619262,08/24/2019 02:00:14 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10463,3308 BAILEY AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.879701,-73.901057,"(40.87970084316435, -73.9010571445122)"
2859196,43622052,08/24/2019 02:00:20 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,11237,265 STOCKHOLM STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.701783,-73.920555,"(40.70178323733244, -73.92055493919345)"
2859197,43625918,08/24/2019 02:00:27 AM,NaN,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Music,Street/Sidewalk,11233,560 RALPH AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.669992,-73.922489,"(40.66999185896368, -73.9224889475533)"
2859198,43622055,08/24/2019 02:00:54 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2859199,43623704,08/24/2019 02:00:56 AM,NaN,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Music,Street/Sidewalk,10303,2806 RICHMOND TERRACE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.636794,-74.153979,"(40.63679359185655, -74.15397942810047)"