<a href="https://colab.research.google.com/github/afeld/nyu-python-public-policy/blob/master/hw_1_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# NYU Wagner - Python Coding for Public Policy
# Solutions to HW 1

### Start by importing necessary packages

In [0]:
import pandas as pd
from google.colab import drive

### Read and save 311 Service Requests dataset as a pandas dataframe

In [0]:
drive.mount('/content/drive')
# follow the link it generates, choose your account, and then paste in the authorization code it provides

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
df = pd.read_csv('/content/drive/My Drive/Data for Python/311_Service_Requests_2018-19.csv', header='infer')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,17,20,31,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

### Data Exploration Questions

What is the minimum value in the "Created Date" column?

In [0]:
df['Created Date'].min()

'01/01/2019 01:00:00 PM'

What is the maximum value in the "Created Date" column?

In [0]:
df['Created Date'].max()

'12/31/2018 12:59:41 PM'

You'll notice that the maximum value is an earlier date than the minimum value (year 2018 vs. 2019). What's up with that? The date values in the 'Created Date' column are actually stored as strings. The min() and max() functions are sorting by alphabetical order. That's why a value that starts with '12/31' is considered a higher/larger value than one that starts with '01/01'.

If we run df.head() and df.tail(), we can see that the dataset actually spans Aug 2018 to Aug 2019. Those are the real min and max dates. We'll learn how to properly handle dates in a later lecture.

In [0]:
df.head()

   Unique Key  ...                                 Location
0    39888071  ...   (40.79333937834769, -73.9429417746998)
1    39889166  ...   (40.82012422332215, -73.9530712339799)
2    39882869  ...   (40.67080917938279, -73.9513990916184)
3    39894246  ...  (40.74026158873342, -73.99051651686905)
4    39881329  ...  (40.68814402968042, -73.75098958473612)

[5 rows x 41 columns]

In [0]:
df.tail()

         Unique Key  ...                                 Location
2859195    43619262  ...   (40.87970084316435, -73.9010571445122)
2859196    43622052  ...  (40.70178323733244, -73.92055493919345)
2859197    43625918  ...   (40.66999185896368, -73.9224889475533)
2859198    43622055  ...                                      NaN
2859199    43623704  ...  (40.63679359185655, -74.15397942810047)

[5 rows x 41 columns]